.message-page-content {
  margin-bottom: 100px;
}

.messageContainer {
  border-radius: 10px;
  padding: 10px 10px 0px 10px;
  margin-bottom: 10px !important;
  position: relative;
  border: 1px solid darkgray;
  zoom: 0.9;
}

.quotedMessage {
  zoom: 0.8 !important;
  border: none;
  padding: 2px 10px 1px 10px;
  border-left: 4px solid gray !important;
}

.quotedMessage p {
  color: #666;
}

.firstMessage {
  background-color: rgba(33, 79, 171, 0.466);
}

@media screen and (min-width: 961px) {
  .message-page-content {
    margin-bottom: 120px !important;
  }

  .send-message-box {
    position: fixed;
    left: calc(10%) !important;
    bottom: 20px !important;
    width: 80% !important;
    border-radius: 10px;
    height: 70px !important;
    padding: 8px;
    background-color: rgb(204, 204, 204);
  }

  .send-message-box .messageInput {
    bottom: -10px !important;
  }
}

.messageContainer .avatar {
  display: inline-block;
  object-fit: cover;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.messageContainer .avatar:hover {
  height: 200px;
  width: 200px;
  transition: 2s all ease;
}

.messageContainer .image {
  height: 150px;
  transition: 0.5s all ease;
}
.messageContainer .timeStamp {
  font-size: 12px;
  font-style: italic;
}

.h-item {
  display: inline;
  list-style: none;
  margin-left: auto;
  margin-right: 10px;
}

.messageContainer .userRole {
  background-color: rgb(110, 110, 110);
  border-radius: 3px;
  padding: 2px 4px;
  color: white;
  zoom: 0.8;
}

.messageContainer .senderName {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.messageContainer .senderInformation {
  margin-bottom: 10px;
}

.send-message-box {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 8px;
  background-color: rgb(204, 204, 204);
}

.send-message-box .button-wrapper {
  border: none;
  /* background-color: red; */
  margin: 0px 0px;
}

.send-message-box .first-button {
  position: absolute;
  left: 10px;
  bottom: -10px;
}

.send-message-box .last-button {
  position: absolute;
  right: 20px;
  bottom: -10px;
}

.send-message-box .messageInput {
  position: absolute;
  left: 70px;
  bottom: 10px;

  width: calc(100% - 140px);
  font-size: 20px;
}

.send-message-box i {
  font-size: 40px;
  width: 40px;
  height: 40px;
  transform: translate(10%, 15%);
  border-radius: 8px;
  margin: 0 auto;
}

.send-message-box i:hover {
  color: white;
  transition: 0.5s all ease;
}

.send-message-box .button-wrapper {
  height: 100%;
  cursor: pointer;
}
