.profileBigAvatar {
  display: inline-block;
  object-fit: cover;
  height: 200px;
  width: 200px;
  vertical-align: middle;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.profile {
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 10px;
}

.profile-message {
  font: 10px verdana;
}

.avatar {
  cursor: pointer;
}
