* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-content {
  margin: 0px 10px;
}

@media screen and (min-width: 961px) {
  .page-content {
    width: 80%;
    margin: 0px auto;
  }
}

.hiddenDisplayNone {
  display: none;
}
