.threadGroupContainer {
  border-radius: 8px;
  padding: 1px 10px;
  position: relative;

  margin: 15px 0px;
  height: 120px;

  background-color: rgb(230, 230, 230);
  box-shadow: 4px 4px 4px rgb(214, 214, 214);
}

.noLink {
  text-decoration: none !important;
  color: black;
}

.noLink:hover {
  cursor: pointer;
}

.actionList {
  position: absolute;
  right: 20px;
  top: 0px;

  list-style: none;
  display: grid;

  display: flex;
  justify-content: center;
}

.block {
  text-align: justify;
}

.deleteButton i {
  font-size: 15px;
  padding-left: 10px;
  color: rgb(14, 8, 8);
}

.deleteButton i:hover {
  cursor: pointer;
  color: black;
}

.threadGroupContainer h5 {
  margin-bottom: 0px;
}

.threadGroupContainer h3 {
  margin-top: 10px;
  margin-bottom: -15px;
}

.threadGroupDescription {
  font-size: 12px;
  /* margin-top: -10px; */
}

.addButton {
  position: fixed;
  right: 10px;
  bottom: 30px;

  height: 50px;
  width: 50px;
  background-color: blueviolet;
  border-radius: 50%;
  border: 2px solid blueviolet;

  cursor: pointer;
  box-shadow: 4px 4px 4px rgb(141, 141, 141);
}

@media screen and (min-width: 961px) {
  .addButton {
    right: 10%;
  }

  .threadGroupContainer {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    width: 48%;
  }
}

.addButton:hover {
  background-color: white;
  color: blueviolet;
  transition: 0.5s all ease;
}

.addButton i {
  font-size: 30px;
  color: white;
  transform: translate(38%, 28%);
}

.addButton i:hover {
  color: blueviolet;
}

.btn-danger {
  background-color: red !important;
  border-color: red !important;
}

.btn-danger:hover {
  background-color: white !important;
}

.formButtons {
  display: flex;
  justify-content: space-between;
  margin-right: -10px;
  margin-left: -10px;
}

.formButtons input {
  margin: 10px;
}

.login-wrapper form {
  width: 100%;
}

.description-text {
  width: 100%;
  min-height: 100px;
  max-width: 100%;
  min-width: 100%;
}

textarea {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  padding: 12px 15px;
  margin: 8px 0;
  margin-bottom: 20px;
  width: 100%;
}
